[submodule "deps/middleclass"]
	path = deps/middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "deps/luajit-2.0"]
	path = deps/luajit-2.0
	url = http://luajit.org/git/luajit-2.0.git
[submodule "deps/turbo"]
	path = deps/turbo
	url = https://github.com/renatoaguiar/turbo.git
